{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <a href="{{ url_for('profile.user_profile') }}">Back</a>
        <ul class=entries>

            <li><h2>Upload image</h2>

                <form action="" method=post enctype=multipart/form-data>
                    <p><input type=file name=file>
                        <input type=submit value=Upload>
                </form>


        </ul>

    {% endif %}

{% endblock %}