<!doctype html>
<title>Image-2-Image</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Image-2-Image</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('authentication.log_in') }}">log in</a>
    <a href="{{ url_for('authentication.create_user') }}">create</a>
  {% else %}
    <a href="{{ url_for('authentication.log_out') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>