{% extends "layout.html" %}
{% block body %}
  <h2>Create</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('authentication.create_user') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
        <dt>Retype password:
      <dd><input type=password name=repassword>
      <dd><input type=submit value=Create>
    </dl>
  </form>
{% endblock %}